:root {
  --green: #77B091;
  --red: #DA6C61;
  --font: #666;
}

@font-face {
  font-family: SST_Arabic_Roman;
  src: url(font/SST_Arabic_Roman.ttf);
}


html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(image/background.svg);
  background-position: center;
  background-size: cover;
}

.frameeVideo {
  margin: 3% 0 0 0;
  width: 100%;
  height: 80%;
  /* background-image: url(image/RFW.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.frameeVideo.active {
  background-image: url(image/RFW.svg);
}

.circle {
  width: 3%;
  height: 7%;
  background-color: var(--green);
  float: right;
  margin: 0.5% 16% 0 0;
  border-radius: 50%;
  display: none;
}

.circle.animation {
  animation: circleRecord 2s infinite;

}

.video-container {
  width: 70%;
  height: 70%;
  /* background: red; */
  margin: auto;
  transform: translateY(20%);
}

.video-container .userIcon {
  width: 25%;
  transform: translate(152%, 31%);
}

#video {
  width: 43%;
  display: none;
  transform: translate(68%, 2%);
  aspect-ratio: 12 / 9;
}

button {
  cursor: pointer;
}

.btns {
  direction: rtl;
  width: 100%;
  height: 5%;
  display: flex;
  margin: 3% auto 0;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btns .btn,
.btns .btn_play_pause {
  width: 8%;
  height: 70%;
  padding: 0;
  margin: 3px;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btns .btn_play_pause {
  width: 5%;
  display: none;
}


.btns .btn img,
.btns .btn_play_pause img {
  background-color: var(--green);
  width: 20%;
  align-self: center;
  padding: 2%;
  border-radius: 50%;
  scale: 0.8;
}

.btns .btn:first-child img {
  scale: 0.7;
}

.btns .btn_play_pause button {
  background: none;
  border: none;
  width: 45%;
}

.btns .btn_play_pause img {
  width: 85%;
  padding: 10%;
}

.btns .btn img.stop,
.btns .btn_play_pause img.stop {
  background-color: var(--red);
}

.btns .btn .text {
  height: fit-content;
  color: var(--font);
  font-family: 'SST_Arabic_Roman';
  font-size: 15px;
  font-weight: bolder;
  /* align-self: center; */
  width: 70%;
  line-height: 1.8;
}


@media(max-width: 1920px) {
  .video-container .userIcon {
    width: 22%;
    transform: translate(178%, 9%);
  }
}

@media screen and (min-width: 992px) {
  .video-container .userIcon {
    width: 22%;
    transform: translate(178%, 9%);
  }
}

@media screen and (max-width: 768px) {

  .video-container .userIcon {
    width: 48%;
    transform: translate(56%, 0%);
  }

  #video {
    width: 60%;
    transform: translate(6%, -11%);

  }
}


@media screen and (max-width: 600px) {
  .frameeVideo {
    height: 21%;
    width: 90%;
    margin: 10% auto;
  }

  .btns .btn {
    width: 30%;
  }

  .btns .btn.btn2 {
    width: 40%;
  }

  .btns .btn.btn2 img {
    width: 15%;
  }



  .btns .btn_play_pause {
    width: 20%;
    justify-content: space-around;
  }

  .btns .btn_play_pause button {
    width: 50%;
    /* padding: 0; */
  }

  .btns .btn_play_pause img {
    width: 90%;
    /* padding: 6px; */
    scale: 1;
  }

  .circle {
    margin: 0.5% 9% 0 0;
  }

  .video-container .userIcon {
    width: 50%;
    /* transform: translate(50%, 31%); */
  }

  #video {
    width: 85%;
    transform: translate(7%, -11%);
  }
}


@keyframes circleRecord {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}