:root {
  --green: #77B091;
  --red: #DA6C61;
  --font: #666;
}

@font-face {
  font-family: SST_Arabic_Roman;
  src: url(font/SST_Arabic_Roman.ttf);
}

* {
  box-sizing: border-box;

}

html {
  height: 100vh;
  width: 100vw;

}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(image/background.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.container-fluid {
  height: 100%;
}

.frameeVideo {
  width: 100%;
  height: 45rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.frameeVideo.active {
  background-image: url(image/RFW.svg);
}

.circle {
  width: 3%;
  height: 9%;
  background-color: var(--green);
  float: right;
  border-radius: 50%;
  display: none;
  position: relative;
  top: 3%;
  right: 18%;
  transform: translate(-3%, -18%);
}

.circle.animation {
  animation: circleRecord 2s infinite;

}

#current-time {
  float: right;
  width: fit-content;
  position: relative;
  top: 9%;
  right: 11%;
  color: #fff;
  font-family: SST_Arabic_Roman;
  transform: translate(-9%, -11%);
  display: none;
}

.video-container {
  width: 70%;
  /* height: 100%; */
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}

.video-container .userIcon {
  width: 50%;
  position: relative;
  top: -10%;
  left: 50%;
  transform: translate(-50%, 10%);
}

#video {
  width: 60%;
  display: none;
  position: relative;
  /* top: -15%; */
  left: 50%;
  transform: translate(-50%, 0);

}

button {
  cursor: pointer;
}

.btn-check:focus+.btn,
.btn:focus {
  box-shadow: none !important;
}

.btns {
  direction: rtl;
  width: 100%;
  max-height: 3rem;
  height: 3rem;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
}

.btns .btn,
.btns .btn_play_pause {
  width: 100%;
  max-width: 100%;
  height: 90% !important;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.btns .btns_play_pause {
  display: none;
}


.btns .btn img,
.btns .btn_play_pause img {
  background-color: var(--green);
  height: 1.5rem;
  padding: 0.1rem;
  border-radius: 50%;
}



.btns .btn_play_pause button {
  background: none;
  border: none;
  width: 45%;
}


.btns .btn img.stop,
.btns .btn_play_pause img.stop {
  background-color: var(--red);
}

.btns .btn .text {
  height: fit-content;
  color: var(--font);
  font-family: 'SST_Arabic_Roman';
  font-size: 15px;
  font-weight: bolder;
  /* align-self: center; */
  width: 70%;
  line-height: 1.8;
}


@media (max-width: 430px) {
  .frameeVideo {
    height: 35rem;
  }

  .circle {
    width: 3%;
    height: 2%;
    background-color: var(--green);
    float: right;
    border-radius: 50%;
    display: none;
    position: relative;
    top: 1%;
    right: 7%;
    transform: translate(-7%, -1%);
  }


  #current-time {
    float: right;
    width: fit-content;
    position: relative;
    top: 3%;
    right: 0%;
    color: #fff;
    font-family: SST_Arabic_Roman;
    transform: translate(0%, -3%);
    display: none;
  }
}


@keyframes circleRecord {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}